    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.url }}">Nicolas Aimon</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% if page.menu == "home" %}
              <li class="active">
            {% else %}
              <li>
            {% endif %}
            <a href="{{ site.url }}"><span class="glyphicon glyphicon-home"></span> Home</a></li>

            {% if page.menu == "research" %}
              <li class="active">
            {% else %}
              <li>
            {% endif %}
            <a href="{{ site.url }}/research/"><span class="glyphicon glyphicon-book"></span> Research</a></li>

            {% if page.menu == "projects" %}
              <li class="active">
            {% else %}
              <li>
            {% endif %}
            <a href="{{ site.url }}/projects/"><span class="glyphicon glyphicon-wrench"></span> Projects</a></li>

            {% if page.menu == "resume" %}
            <li class="active">
            {% else %}
            <li>
            {% endif %}
            <a href="{{ site.url }}/resume/"><span class="glyphicon glyphicon-user"></span> Resume</a></li>

            <li>
            <a href="https://www.linkedin.com/in/nicolasaimon" target="blank"><i class="fa fa-linkedin"></i>LinkedIn Profile</a></li>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
