<div class="row">
	<p align="center">If you found the information on this website useful</p>
	<p align="center">Please Donate To Bitcoin Address: <b>{{site.bitcoin}}</b></p>
	<img class="img-responsive" src="{{site.url}}/assets/img/QR.png">
</div>

<h2>
Other projects
</h2>
{% for post in site.posts limit: 10 %}
<div class="row">
	<a href="{{ post.url }}">
		{{ post.title }}<br>
		<small>{{ post.date | date_to_long_string }}</small>
	</a>
 	<a href="{{ post.url }}" class="thumbnail">
	  	<img src="{{ site.url }}/assets/img/{{ post.image }}">
   	</a>
</div>
{% endfor %}
